html
body

{background-image: url(https://i.pinimg.com/originals/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.png);
      background-repeat: no-repeat;
      background-size: auto;
      } 
      h1 {color: rgb(0, 252, 85);
      text-align: center }
      p {font-family: verdana;
      font-size: 20px}
      h2 {color: rgb(0, 252, 85)}
      <1d {color: lightblue}
      color: white;
   body {font-family: Arial, Helvetica, sans-serif;}
  

button {
  background-color: rgb(0, 255, 85);
  color: rgb(255, 255, 255);
  padding: 14px 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
}button:hover {
  opacity: 0.8;
}
button 
<






      </style>
      </head>

 

      
      
html